# Python
__pycache__/
*.pyc
.env
venv/

# Node
node_modules/

# Chroma DB
backend/chroma_db/

# Logs
backend/logs/

# Prometheus
prometheus-3.11.3.windows-amd64/

# llmware (DO NOT PUSH THIS)
llmware/

# OS
.DS_Store
Thumbs.db